<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fuseraft - fuseraft.com</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://use.fontawesome.com/9050fd5ac1.js"></script>
</head>

<body>
  <nav b-w6zkmiwdxi class="navbar" role="navigation" aria-label="main navigation">
    <div b-w6zkmiwdxi class="navbar-brand">
      <a b-w6zkmiwdxi class="navbar-item" href="/">
        <img src="/images/icon.png" height="28">
        <span b-w6zkmiwdxi style="margin-left: 0.1em;">astral</span>
      </a>
      <a b-w6zkmiwdxi role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span b-w6zkmiwdxi aria-hidden="true"></span>
        <span b-w6zkmiwdxi aria-hidden="true"></span>
        <span b-w6zkmiwdxi aria-hidden="true"></span>
      </a>
    </div>

    <div b-w6zkmiwdxi class="navbar-menu">
      <div b-w6zkmiwdxi class="navbar-end">
        <a b-w6zkmiwdxi class="navbar-item" href="/contact">Let's Talk!</a>
      </div>
    </div>
  </nav>

  <%content%>

  <footer b-w6zkmiwdxi class="footer fuseraft">
    <div b-w6zkmiwdxi class="columns">
      <div b-w6zkmiwdxi class="column is-12">
        <div b-w6zkmiwdxi class="is-flex is-justify-content-space-between">
          <div b-w6zkmiwdxi class="container block">
            <p b-w6zkmiwdxi class="fuseraft">Copyright © 2024 - Fuseraft</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>