.astral-background {
  background-image: url('images/icon.png');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

/* bulma customizations */
.navbar-menu.is-active { position: absolute; width: 100%; } 
.navbar-item:hover, .navbar, .section, .card, .container {
  background-color: #000 !important;
  color: rgba(17, 137, 249, 0.938) !important;
}

.hero.is-primary .title, .fuseraft, .title, .subtitle, .navbar-item, .navbar-link, body, a {
  background-color: #000 !important; 
  color: rgba(17, 137, 249, 0.938) !important;
}

.input, .select select, .textarea, ::placeholder {
  background-color: #000 !important; 
  color: rgba(17, 137, 249, 0.938) !important;
  border-color: rgba(17, 137, 249, 0.938) !important;
}

.tile.is-child {
  background-color: rgba(17, 137, 249, 0.938) !important;
}

.tile.is-parent {
  background-color: #000 !important;
}

.subtitle ul.my-list li {
  background-color: #000 !important;
  color: rgba(17, 137, 249, 0.938) !important; 
  margin-bottom: 5px;
  padding-top: 5px;
}