<section class="section">
    <div class="container">
        <h1 class="title">
            Kiwi v2.0.8
        </h1>

        <div class="field is-horizontal">
            <div class="field-body">
                <button class="button" delim-type="line" onclick="exec_kiwi()">Run</button>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <textarea id="txt-input" class="textarea" placeholder="Input"
                    rows="10">println "hello, world"</textarea>
            </div>
            <div class="column is-half">
                <textarea id="txt-output" class="textarea" placeholder="Output" rows="10"></textarea>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function exec_kiwi() {
        fetch("/exec", {
            method: 'post',
            body: document.getElementById('txt-input').value
        }).then((response) => {
            return response.text();
        }).then((res) => {
            document.getElementById('txt-output').value = res;
        }).catch((error) => {
            console.log(error)
        });
    }
</script>