@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body, html, h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}

textarea {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}